Django==4.2.7
djangorestframework==3.14.0
django-cors-headers==4.2.0
djangorestframework-simplejwt==5.3.0
python-dotenv==1.0.0
PyPDF2==3.0.1
volcengine-python-sdk
pdf2image==1.16.3
pytesseract==0.3.10
opencv-python==4.9.0.80
layoutparser==0.3.4
scikit-learn
pandas
matplotlib
numpy
Pillow
langdetect==1.0.9
torch
torchvision
networkx
transformers==4.38.0
spacy==3.7.2
python-docx==0.8.11
pymysql==1.1.0